* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 100vh;
  background-color: rgb(155, 155, 155);
  border-radius: 1rem;
  justify-content: space-between;
}

.title-wrapper {
  background-color: rgb(13, 0, 126);
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.list-wrapper {
  height: 100vh;
  margin: 0.5rem;
}

.list-item {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: left;
  list-style: none;
}

.btn-new-task {
  margin: 0 1rem 1rem 0;
  align-self: flex-end;
  padding: 0.5rem;
  width: auto;
  border-radius: 1rem;
  background-color: rgb(13, 0, 126);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .app-wrapper {
    width: 100%;
    border-radius: 0;
  }

  .title-wrapper {
    border-radius: 0;
  }

  .btn-new-task {
    align-self: center;
    /* width: auto; */
  }
}
